body {
    background-color: #0D1B2A;
    color: #FFFFFF;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
}

.content h1 {
    font-size: 6em;

    color: #FFFFFF;

    text-shadow: 0 0 10px #00A1FF, 0 0 20px #00A1FF, 0 0 30px #00A1FF, 0 0 40px #00A1FF, 0 0 50px #00A1FF, 0 0 60px #00A1FF, 0 0 70px #00A1FF;

}

.content .message {
    font-size: 2em;

    margin-bottom: 20px;

}

.btn-primary {
    background: linear-gradient(45deg, #FFDD00, #FFAA00);

    border: none;
    color: #000000;
    font-weight: bold;

    font-size: 1.2em;

    padding: 10px 20px;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(45deg, #FFAA00, #FFDD00);

}