.contenedor_cuerpo {
    margin-top: 40px;
    font-size: 20px;
}

.boton {
    margin: 0px 10px;
    border: none;
    letter-spacing: 2px;
}

.activo_admin {
    font-size: 25px;
}

.enlace_mayor {
    font-size: 20px;
    color: white;
    margin-right: 30px;
    padding: 10px 15px;
}

.enlace_mayor:hover {
    border: 1px solid #00A1FF;
    border-radius: 50px;
    color: #00A1FF;
}

.enlace_secundario {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    transition: ease 0.5s;
    color: white;
}

.enlace_secundario:hover {
    transition: ease 0.5s;
    border-radius: 10px;
    background-color: #404040;
}

.dropdown-menu {
    text-align: center;
    background-color: #262626;
    padding: 0px;
    margin: 0px;
    transition: ease 0.5s;
    border-radius: 10px;
}

.boton_cerrar {
    padding: 15px;
}

.nombre_admin {
    padding: 10px;
    color: rgb(154, 154, 154);
    font-size: 20px;
    margin-right: 120px;
}

.ingresar_multimedia {
    height: 20em;
    width: auto;
    border: 1px solid #ddd;
}

.mis_calendarios {
    border-radius: 50px;
    padding: 0px 30px;
}

.separado {
    margin-right: 20px;
}


.icono_usuario {
    margin-right: 4px;
    font-size: 15px;
}

/*---------------------------- encabezado ------------------------------------*/
a {
    text-decoration: none;
    color: black;
}

.contenedor_titulo {
    margin-top: 80px;
    background-color: #00A1FF;
    font-size: 20px;
    padding: 30px 0px;
}

.calendario_usuario {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
}

.calendario_usuario {
    transition: ease 0.5s;
}

.calendario_usuario h1 {
    font-weight: bold;
    letter-spacing: 2px;
    padding: 20px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);


}


.icono_calendario {
    padding: 12%;
    font-size: 5em;
}

.calendario_usuario:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: ease 0.5s;
}

.linea {
    border: 1px solid #a8a8a8;
}

.crear_calendario_btn {
    font-size: 5em;
    padding: 20px 0px;

}

.crear_calendario_btn i {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: rgb(88, 88, 88);
    transition: ease 0.2s;
}

.crear_calendario_btn i:hover{  
    font-size: 90px;
    transition: ease 0.2s;
}
