body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
}

a { 
    text-decoration: none;
    
}

form {
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    padding: 50px 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 380px;
}

form h2 {
    font-size: 35px;
    color: black;
    margin: 0;
}

form p {
    font-size: 16px;
    color: #5E5E5E;
    margin-bottom: 35px;
}

.input-wrapper {
    position: relative;
    width: 305px;
    margin-bottom: 35px;

}

input {
    color: #0d0d0d;
    padding: 20px 15px 20px 60px;
    width: 30em;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 0 10px #a3a3a3;
    outline: none;
    font-size: 16px;
}

input::placeholder {
    font-size: 16px;
    color: #BBBBE2;
}

.input-icon {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 20px;
    top: 50%;
    transform: translateY(-55%);

}

.btn {
    padding-top: 20px;
    padding: 20px;
    background: linear-gradient(90deg,
            rgba(140, 43, 231, 1) 25%,
            rgba(61, 1, 245, 1) 100%);
    box-shadow: 0 0 20px rgba(192, 203, 251, 0.7);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    border-radius: 50px;
    width: 10em;
}

.btn:hover {
    background: rgba(153, 47, 252);
    color: white;
}

.sucess {
    position: absolute;
    top: 50px;
    color: #00C83C;
    font-size: 18px;
}

.error {
    position: absolute;
    top: 50px;
    color: #EB2D66;
    font-size: 18px;
}

@media(max-width:991px) {
    body {
        padding: 10px;

    }

    form {
        padding: 20px;
        width: 100%;

    }

    .input-wrapper {
        position: relative;
        width: 88%;
        margin-bottom: 35px;
    }

    input {
        padding: 20px 8px 20px 45px;
        width: 100%;
    }

    .input-icon {
        height: 20px;
        width: 20px;
    }

}

.contenedor_formulario {
    box-shadow: 0 0 20px rgba(137, 161, 167, 0.7);
    border-radius: 50px;
    padding: 20px;
    width: 60em;
    color: black;
}

.contenedor_formulario h2,
p {
    font-weight: bold;
}

.contenedor_formulario .row {
    text-align: center;
}


.img-thumbnail {
    background-color: transparent;
    border: none;
    object-fit: cover;
}


.contenedor_imagen {
    overflow: hidden;
}

.contenedor_imagen img {
    width: 20em;
    height: auto;
    object-fit: cover;
}

.texto_extra {
    padding-top: 20px;
    font-size: 20px;
    color: #4d4d4d;
}

.contenedor_bienvenidos {
    padding-bottom: 20px;
}

.espacios_formulario {
    padding-top: 50px;
}

.boton_ir {
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton_ir img {
    margin-right: 5px;
}