.contenedor_cuerpo {
    font-size: 20px;
}

.boton {
    margin: 0px 10px;
    border: none;
    letter-spacing: 2px;
}

.activo_admin {
    font-size: 25px;
}

.enlace_mayor {
    font-size: 20px;
    color: white;
    margin-right: 30px;
    padding: 10px 15px;
}

.enlace_mayor:hover {
    border: 1px solid #00A1FF;
    border-radius: 50px;
    color: #00A1FF;
}

.enlace_secundario {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    transition: ease 0.5s;
    color: white;
}

.enlace_secundario:hover {
    transition: ease 0.5s;
    border-radius: 10px;
    background-color: #404040;
}

.dropdown-menu {
    text-align: center;
    background-color: #262626;
    padding: 0px;
    margin: 0px;
    transition: ease 0.5s;
    border-radius: 10px;
}

.boton_cerrar {
    padding: 15px;
}

.nombre_admin {
    padding: 10px;
    color: rgb(154, 154, 154);
    font-size: 20px;
    margin-right: 120px;
}

.ingresar_multimedia {
    height: 20em;
    width: auto;
    border: 1px solid #ddd;
}

.formulario_ingresar {
    margin-top: 9em;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.formulario_ingresar h2 {
    font-size: 20px;
    color: #262626;
}

.seccion_registro {
    margin: 10px 0px;
}

.seccion_registro2 {
    margin: 10px 0px;
}

.boton_agregar {
    margin-top: 15px;
    padding: 20px 40px;
    font-size: 20px;
}

.boton_agregar a {
    color: white;
}

.boton_agregar {
    color: white;
}

.boton_agregar:hover {
    background-color: transparent;

}

.boton_agregar a {
    width: 100%;
    height: 100%;
}

.boton_agregar a:hover {
    color: #198754;
}

.entrada_formulario {
    padding: 10px 15px;
    border: none;
    border-bottom: 1px solid #ddd;
}

.formulario_seleccion {
    padding: 11px;
}

.area_texto {
    padding: 10px 15px;
    height: 200px;
}

.ingresar_multimedia {
    margin-top: 10px;
}

.cargar_imagen {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #f8f9fa;
}

.apartado_dia {
    margin: 20px 0px;
}

a {
    text-decoration: none;
}

.imgg {
    width: 100%;
    margin-top: 30px;
    object-fit: cover;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.nombre_rutina {
    font-weight: bold;
}


.mis_calendarios {
    border-radius: 50px;
    padding: 0px 30px;
}

.separado {
    margin-right: 20px;
}

.contenedor_cuerpo {
    margin-top: 40px;
    font-size: 20px;
}

.boton {
    margin: 0px 10px;
    border: none;
    letter-spacing: 2px;
}

.activo_admin {
    font-size: 25px;
}

.enlace_mayor {
    font-size: 20px;
    color: white;
    margin-right: 30px;
    padding: 10px 15px;
}

.enlace_mayor:hover {
    border: 1px solid #00A1FF;
    border-radius: 50px;
    color: #00A1FF;
}

.enlace_secundario {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    transition: ease 0.5s;
    color: white;
}

.enlace_secundario:hover {
    transition: ease 0.5s;
    border-radius: 10px;
    background-color: #404040;
}

.dropdown-menu {
    text-align: center;
    background-color: #262626;
    padding: 0px;
    margin: 0px;
    transition: ease 0.5s;
    border-radius: 10px;
}

.boton_cerrar {
    padding: 15px;
}

.nombre_admin {
    padding: 10px;
    color: rgb(154, 154, 154);
    font-size: 20px;
    margin-right: 120px;
}

.ingresar_multimedia {
    height: 20em;
    width: auto;
    border: 1px solid #ddd;
}

.mis_calendarios {
    border-radius: 50px;
    padding: 0px 30px;
}

.separado {
    margin-right: 20px;
}


.icono_usuario {
    margin-right: 4px;
    font-size: 15px;
}

.area_texto {   
    width: 100%;
}