body {
    background-color: white;
}

.opciones-dos {
    padding-top: 100px;
}

a {
    text-decoration: none;
    color: white;
}

.opciones-dos img {
    filter: brightness(80%);
    max-height: 30em;
    object-fit: cover;
}

.opciones-dos-dos {
    padding-top: 20px;
}

.contenedor-opcion-dos {
    border: none;
    border-radius: 50px;
}

.texto-opcion-dos {
    padding-top: 40px;
}

.texto-opcion-dos img {
    transition: ease 0.5s;
}

.texto-opcion-dos:hover img {
    transition: ease 0.5s;
    transform: scale(1.90);
}


.contenedor-opcion-dos {
    display: flex;
    text-align: center;
}

.texto-opcion-dos {
    width: 25rem;
    height: 20rem;
    border: 2px solid #fafafa10;
    margin: 0 au;
}

@media (max-width: 768px) {
    .texto-opcion-dos {
        width: 20rem;
        height: 15rem;
        border: 2px solid #fafafa10;
        margin: 0 au;
    }
}

.efecto-cristal {
    background-color: #fafafa10;
    backdrop-filter: blur(0.4rem);
}

.titulo-opcion {
    letter-spacing: 10px;
    font-weight: bold;
}

.contenedor_encabezado_dos {
    padding: 10px 0;
}

.contenedor_encabezado_dos h1 {
    color: #fff;
    font-weight: bold;
}

.contenedor-opcion-dos {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/*-------------------------- encabezado -------------------------------*/

.opciones-dos {
    margin-top: 9em;
}

.boton {
    margin: 0px 10px;
    border: none;
    letter-spacing: 2px;
}

.activo_admin {
    font-size: 25px;
}

.enlace_mayor {
    font-size: 20px;
    color: white;
    margin-right: 30px;
    padding: 10px 15px;
}

.enlace_mayor:hover {
    border: 1px solid #00A1FF;
    border-radius: 50px;
    color: #00A1FF;
}

.enlace_secundario {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    transition: ease 0.5s;
    color: white;
}

.enlace_secundario:hover {
    transition: ease 0.5s;
    border-radius: 10px;
    background-color: #404040;
}

.dropdown-menu {
    text-align: center;
    background-color: #262626;
    padding: 0px;
    margin: 0px;
    transition: ease 0.5s;
    border-radius: 10px;
}

.boton_cerrar {
    padding: 15px;
}

.nombre_admin {
    padding: 10px;
    color: rgb(154, 154, 154);
    font-size: 20px;
    margin-right: 120px;
}

.ingresar_multimedia {
    height: 20em;
    width: auto;
    border: 1px solid #ddd;
}

.mis_calendarios {
    border-radius: 50px;
    padding: 0px 30px;
}

.separado {
    margin-right: 20px;
}


.icono_usuario {
    margin-right: 4px;
    font-size: 15px;
}