/*.btn,.text-center{text-align:center}.img-fluid.imagen_perfil{border-radius:.5rem;border:2px solid #ddd;box-shadow:0 4px 8px rgba(0,0,0,.1);max-width:100%}h1{color:#00a1ff;font-size:2rem;margin-bottom:20px}.form-control,.form-select,label{color:#333;font-size:1rem}.form-control,.form-select{border-radius:.25rem;border:1px solid #ddd;padding:.75rem;margin-bottom:15px}.btn,.gris{border-radius:.25rem}.gris{background-color:#f8f9fa;padding:10px;margin-bottom:10px}.input-group{margin-bottom:20px}.btn{padding:.75rem 1.25rem;font-size:1rem;font-weight:700;cursor:pointer;transition:background-color .3s,border-color .3s;display:inline-flex;align-items:center}.btn-warning{background-color:#ffc107;border:1px solid #ffc107;color:#212529}.btn-warning:hover{background-color:#e0a800;border-color:#d39e00}.icono{margin-left:8px;font-size:1.2rem}a{text-decoration:none}.btn-warning.compartir{background-color:#00a1ff;border-color:#00a1ff;color:#fff}.btn-warning.compartir:hover{background-color:#007bff;border-color:#007bff}.cuerpo{margin-top:120px}*/
.img-fluid.imagen_perfil {
    border-radius: 0.5rem;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
}
h1 {
    color: #00A1FF;
    font-size: 2rem;
    margin-bottom: 20px;
}
label,
.form-control,
.form-select {
    color: #333;
    font-size: 1rem;
}
.form-control,
.form-select {
    border-radius: 0.25rem;
    border: 1px solid #ddd;
    padding: 0.75rem;
    margin-bottom: 15px;
}
.gris {
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 0.25rem;
    margin-bottom: 10px;
}
.input-group {
    margin-bottom: 20px;
}
.btn {
    border-radius: 0.25rem;
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    display: inline-flex;
    align-items: center;
}
.btn-warning {
    background-color: #ffc107;
    border: 1px solid #ffc107;
    color: #212529;
}
.btn-warning:hover {
    background-color: #e0a800;
    border-color: #d39e00;
}
.icono {
    margin-left: 8px;
    font-size: 1.2rem;
}
a {
    text-decoration: none;
}
.text-center {
    text-align: center;
}
.btn-warning.compartir {
    background-color: #00A1FF;
    border-color: #00A1FF;
    color: #fff;
}
.btn-warning.compartir:hover {
    background-color: #007BFF;
    border-color: #007BFF;
}
.cuerpo {
    margin-top: 120px;
}