body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    color: #333;
}


.form-registro {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-registro .form-control,
.form-registro .btn {
    border-radius: 20px;
}

label {
    color: #00A1FF;
    font-weight: bold;
}

.input-group,
input[type="text"],
input[type="password"],
textarea {
    margin-bottom: 20px;
}

.form-control:focus {
    border-color: #00A1FF;
    box-shadow: 0 0 5px rgba(0, 161, 255, 0.5);
}

select.form-control {
    appearance: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #00A1FF;
    color: #00A1FF;
}

select.form-control:focus {
    outline: none;
}

.btn-agregar,
.boton {
    background-color: #00A1FF;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn-agregar:hover,
.boton:hover {
    background-color: #0080cc;
}

.img-fluid {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
    border-radius: 20px;
}

.modal-header,
.modal-footer {
    border: none;
}

.modal-title {
    color: #00A1FF;
}

.btn-close {
    background-color: transparent;
    border: none;
}

.btn-danger,
.btn-primary {
    border-radius: 20px;
    padding: 10px 20px;
}

.btn-danger:hover {
    background-color: #cc0000;
}

.btn-primary:hover {
    background-color: #0080cc;
}
