html, body {
    height: 100%;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.footer {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.opciones-dos {
    margin-top: 9em;
}

.boton {
    margin: 0px 10px;
    border: none;
    letter-spacing: 2px;
}

.activo_admin {
    font-size: 25px;
}

.enlace_mayor {
    font-size: 20px;
    color: white;
    margin-right: 30px;
    padding: 10px 15px;
}

.enlace_mayor:hover {
    border: 1px solid #00A1FF;
    border-radius: 50px;
    color: #00A1FF;
}

.enlace_secundario {
    padding: 20px 10px;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    transition: ease 0.5s;
}

.enlace_secundario:hover {
    background-color: rgb(68, 68, 68);
    color: white;
    transition: ease 0.5s;
}

.enlace_principal {
    margin-right: 30px;
    font-size: 15px;
}

.icono {
    padding-right: 5px;
}

.nombre_admin {
    padding: 10px;
    color: rgb(154, 154, 154);
    font-size: 15px;
    margin-right: 120px;
}

.ingresar_multimedia {
    height: 20em;
    width: auto;
    border: 1px solid #ddd;
}

.separado {
    margin-right: 20px;
    font-size: 15px;
}

.icono_usuario {
    margin-right: 4px;
    font-size: 15px;
}

.mis_calendarios {
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 193, 7);
    color: black;
}

.cuerpo {
    margin-top: 120px;
}

.dropdown-menu {
    background-color: #333;
    z-index: 1000;
    padding: 10px;
    min-width: 200px;
}

.dropdown-menu a {
    color: #fff;
}

.dropdown-menu a:hover {
    background-color: #00A1FF;
    color: #fff;
}