a {
    text-decoration: none;
    color: black;
}

.contenedor_titulo {
    margin-top: 80px;
    background-color: #00A1FF;
    font-size: 24px;
    padding: 30px 0px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.linea {
    border: 0;
    border-top: 1px solid #00A1FF;
    margin: 20px 0;
}

.calendario_usuario {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: ease 0.5s;
}

.calendario_usuario h1 {
    font-weight: bold;
    letter-spacing: 2px;
    padding: 20px 0px;
    color: #00a2ff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.calendario_usuario:hover {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: ease 0.5s;
}

.crear_calendario_btn {
    font-size: 5em;
    padding: 20px 0px;
    text-align: center;
}

.crear_calendario_btn i {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: #00A1FF;
    transition: ease 0.2s;
}

.crear_calendario_btn i:hover {
    font-size: 90px;
    color: #007bb5;
    transition: ease 0.2s;
}

.icono_calendario {
    font-size: 5em;
    color: #00A1FF;
    padding: 12%;
}

/* Estilos adicionales para los iconos de eliminar y editar */
.icono_eliminar, .icono_editar {
    font-size: 3em; /* Tamaño aumentado para los iconos */
    transition: ease 0.3s;
}

.icono_eliminar {
    color: #ff4d4d; /* Rojo para eliminar */
}

.icono_eliminar:hover {
    color: #cc0000;
    transform: scale(1.1);
    transition: ease 0.3s;
}

.icono_editar {
    color: #FFD700; /* Amarillo para editar */
}

.icono_editar:hover {
    color: #FFC107;
    transform: scale(1.1);
    transition: ease 0.3s;
}
