/* Estilos generales para el footer */
.footer {
    width: 100%;
    background-color: #333; /* Fondo oscuro */
    color: white; /* Texto blanco */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto */
    position: relative; /* Asegura que el footer esté posicionado en relación a su contenedor */
    bottom: 0; /* Alinea el footer en la parte inferior */
    margin-top: auto; /* Empuja el footer hacia el final del contenedor flex o grid */
}

/* Contenedor dentro del footer */
.footer .container {
    max-width: 1140px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
}

/* Opciones de estilo para el contenido dentro del footer si es necesario */
.footer p {
    margin: 0; /* Elimina el margen del párrafo */
    font-size: 0.875rem; /* Tamaño de fuente pequeño */
}

/* Asegura que el footer siempre se muestre en la parte inferior si el contenido es pequeño */
html, body {
    height: 100%;
    margin: 0;
}

.grid {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el grid ocupe al menos toda la altura de la ventana */
}

.container {
    flex: 1; /* Permite que el contenedor principal ocupe el espacio disponible */
}

/* Estilos para las opciones y botones en la página */
.opciones-dos {
    margin-top: 9em;
}

.boton {
    margin: 0px 10px;
    border: none;
    letter-spacing: 2px;
}

.activo_admin {
    font-size: 25px;
}

.enlace_mayor {
    font-size: 20px;
    color: white;
    margin-right: 30px;
    padding: 10px 15px;
}

.enlace_mayor:hover {
    border: 1px solid #00A1FF;
    border-radius: 50px;
    color: #00A1FF;
}

.enlace_secundario {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    transition: ease 0.5s;
    color: white;
}

.enlace_secundario:hover {
    transition: ease 0.5s;
    border-radius: 10px;
    background-color: #404040;
}

.dropdown-menu {
    text-align: center;
    background-color: #262626;
    padding: 0px;
    margin: 0px;
    transition: ease 0.5s;
    border-radius: 10px;
}

.boton_cerrar {
    padding: 15px;
}

.nombre_admin {
    padding: 10px;
    color: rgb(154, 154, 154);
    font-size: 15px;
    margin-right: 120px;
}

.ingresar_multimedia {
    height: 20em;
    width: auto;
    border: 1px solid #ddd;
}

.separado {
    margin-right: 20px;
    font-size: 15px;
}

.icono_usuario {
    margin-right: 4px;
    font-size: 15px;
}

.mis_calendarios {
    justify-content: center;
    text-align: center;
    background-color: rgb(255, 193, 7);
    color: black;
}