.custom-container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.custom-input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.custom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.custom-col {
    flex: 1;
    margin: 0 10px;
}

.custom-date-input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.custom-chart-container {
    max-width: 400px;
    margin: 0 auto;
}

#myChart {
    width: 100% !important;
    height: 250px !important;
}
