body {
    background-color: #f0f8ff;
}

.delete {
    transition: ease 0.2s;
}

.delete:hover {
    /* boton de borrar */
    color: red;
    cursor: pointer;
    transition: ease 0.2s;
}

.edit {
    transition: ease 0.2s;
}

.icono {
    font-size: 20px;
    margin-left: 10px;
}

.icono:hover {
    cursor: pointer;
}

.edit:hover {
    /* boton de editar */
    color: rgb(0, 89, 255);
    cursor: pointer;
    transition: ease 0.2s;
}

.moreDetails {
    transition: ease 0.2s;
}

.moreDetails:hover {
    /* boton de detalles */
    color: rgb(223, 208, 0);
    cursor: pointer;
    transition: ease 0.2s;
}



.conteo {
    box-shadow: rgba(0, 161, 255, 0.4) -5px 5px,
        rgba(0, 161, 255, 0.3) -10px 10px,
        rgba(0, 161, 255, 0.2) -15px 15px,
        rgba(0, 161, 255, 0.1) -20px 20px,
        rgba(0, 161, 255, 0.05) -25px 25px;

    transition: ease 0.5s;
    padding: 20px;
}

.conteo:hover {
    cursor: pointer;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    transition: ease 0.5s;
}

.container.tabla {
    margin-top: 20px;
    border: 2px solid #00A1FF;
    border-radius: 15px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table thead th {
    background-color: #00A1FF;
    color: #fff;
    text-align: center;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table tbody td {
    text-align: center;
}

.caracteristica {
    font-weight: bold;
}


.container.tabla h1 {
    color: #00A1FF;
    font-family: 'Arial', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

/* ------------------------------------------------------ */

.text-center.alert {
    text-align: center;
    color: #000; /* Color de texto inicial */
    transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease; /* Añade una transición suave */
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el texto */
}

.text-center.alert:hover {
    color: #00A1FF; /* Cambia el color al pasar el cursor */
    transform: scale(1.1) rotate(3deg); /* Aumenta ligeramente el tamaño y rota */
    text-shadow: 2px 2px 5px rgba(0, 161, 255, 0.5); /* Añade sombra al texto */
}

.text-center.alert:hover i {
    animation: bounce 0.5s; /* Añade una animación a los iconos al pasar el cursor */
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.fa-square-plus {
    margin-left: 5px;
}

.ml-5 {
    margin-left: 5px;
}
