body {
    font-size: 30px;
}

h2 {
    color: #00A1FF;
    font-weight: bold;
}

.titulo {
    background-color: #00A1FF;

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}