body {
    background-color: #f8f9fa;
    /* Fondo claro */
}

h1 {
    color: #00A1FF;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-control {
    border-color: #00A1FF;
}

.form-floating>label {
    color: #00A1FF;
}

.form-floating>.form-control:focus {
    border-color: #00A1FF;
    box-shadow: 0 0 0 0.25rem rgba(0, 161, 255, 0.25);
}

.form-floating>label::after {
    content: '*';
    color: #00A1FF;
    font-weight: bold;
}

.container {
    background-color: #ffffff;
    /* Fondo blanco para el formulario */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #00A1FF;
    border-color: #00A1FF;
}

.btn-primary:hover {
    background-color: #008BCC;
    /* Tonalidad más oscura de #00A1FF para hover */
    border-color: #008BCC;
}

.btn-primary:focus,
.btn-primary.focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 139, 204, 0.5);
    /* Sombra más clara */
}